.hidden {
  display: none;
}

.nav-logo {
  color: var(--white);
  display: flex;
  gap: 6px;
}

.nav-menu {
  background-color: transparent;
  border: none;
  outline: none;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  margin-top: 250px;
}

.nav-link {
  color: var(--white);
  font-size: 24px;
}

.is-open-menu {
  display: initial;
  inset: 0;
  background-color: var(--gray-950);
  position: fixed;
  z-index: 998;
}

.nav-link:hover {
  background-color: var(--gray-800);
  border: 1px solid var(--gray-150);
  border-radius: 8px;
  padding: 12px 20px;
}
